<h1>Records</h1>
<div class="row">
  {{#each records}}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <a href="/records/edit/{{ id }}" class="btn-floating halfway-fab red">
            <i class="fa fa-pencil"></i>
          </a>
        </div>
        <div class="card-content center-align">
          <h5>{{ title }}</h5>
          <p class="story-text">{{ truncate (stripTags body) 150 }}</p>
          <br>
          <div class="chip">
            <img src="{{ user.image }}" alt="{{ user.firstName }}">
            {{ user.firstName }}
          </div>
        </div>
        <div class="card-action center-align">
          <a class="btn grey" href="/records/{{ id }}">
            Read More
          </a>
        </div>
      </div>
    </div>
  {{else}}
    <p>No records found</p>
  {{/each}}
</div>
